# Archivos del sistema
.DS_Store
Thumbs.db

# Editores
.vscode/
.idea/

# Dependencias
node_modules/
jspm_packages/

# Logs
logs
*.log

# Archivos temporales
*.tmp
*.pid
*.seed
*.pid.lock

# Archivos de entorno
.env
.env.*
!.env.example

# Cache
.cache
.parcel-cache
.npm
.eslintcache

# Build outputs
dist/
build/
out/
.next/
.nuxt/

# Otros
*.tgz
.yarn-integrity